 ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .sampleCard {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px !important;
      margin-bottom: 20px;
      margin-left: 5px;
      margin-right: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-left: 15px #fede02 solid;
    }

   .title{

      background-color: #fede02;
      line-height: 2;
      color: #555;
      padding: 30px;
      
    }
    #list{
      padding:40px;
    }
   .content{
     padding:30px;
   }
